*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.nav-bar{
    display: flex;
    padding: 1px 120px;
    background-color: #333;

}

.nav-logo img{
    width: 130px;
}

.nav-links{
    flex: 1;
}

.nav-links ul{
    margin-right: 50px;
    display: inline;
    
}

.nav-links ul li{
    float: right;
    list-style: none;
    display: inlin;
    padding: 20px 30px;
    
}






